* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  :root{
    --primary-color: #014282;
  }
  @font-face {
    font-family: AdobeFnt23;
    src: url(./fonts/AdobeFnt23.lst);
  }
  @font-face {
    font-family: AdobeFnt24;
    src: url(./fonts/AdobeFnt24.lst);
  }
  @font-face {
    font-family: balooTammudu2;
    src: url(./fonts/BalooTammudu2-SemiBold.ttf);
  }
  @font-face {
    font-family: FbSpoiler-Black;
    src: url(./fonts/FbSpoiler-Black.otf);
  }
  @font-face {
    font-family: FbSpoiler-Bold;
    src: url(./fonts/FbSpoiler-Bold.otf);
  }
  @font-face {
    font-family: FbSpoiler-light;
    src: url(./fonts/FbSpoiler-Light.otf);
  }

  body,html {
    
    width: 100%;
    background: url('./images/sky.webp') no-repeat center fixed;
    /* Set background size to cover the entire body */
    overflow-x: hidden;
    background-size: cover;
    /* Set background attachment to fixed for a fixed background */
    background-attachment: fixed;
    /* Add additional styles as needed */
    border: 7px solid white;

    filter: grayscale(0); /* Set default value */
  }
  body.grayscale {
    filter: grayscale(100%);
}
  .container {
    color: white;
  }
  .main-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-title h1 {
    font-size: 11vw;
    color: white;
    font-family: FbSpoiler-Black;
  }
  .midSection {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    margin-bottom: 5px;
  }
  .right p{
      text-align: right;
      padding-right: 115px;
      margin-top: 22px;
      font-size: 30px;
      padding-left: 10px;
      font-family: FbSpoiler-bold;
  }
  .left {
    flex: 1;
  }
  .left-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #select2-options-container{
    padding: 0;
    color: var(--primary-color);
    font-size: 20px;
    font-family: 'FbSpoiler-Bold';
  }

  .gift-desc-desktop{
    font-size: 2.8em;
    font-family: FbSpoiler-Bold;
    text-align: center;
    margin-top: -10%;
  }

  .gift-desc{
    text-align: center;
    font-family: FbSpoiler-bold;
    font-size: 2em;
    margin-top: -3%;
  }

  #crossIcon:hover{
    cursor: pointer;
  }
  ul li:hover{
    cursor: pointer;
  }
  #sideIcon:hover{
    cursor: pointer;
  }

  .child-image img {
    width: 100%;
    height: 100%;
    padding-right:30px;
  }
  .container hr {
    color: white;
    height: 10px;
    background-color: white;
    border: none;
    width: 100%;
    margin-top: -15px;
  }
  .bg-color {
    background-color: #fd7e14;
  }
  .bg-color2{
    background-color: #343a40;
  }

  .select2-selection, .select2-selection--single{
    border: none !important;
    background: none !important;
  } 
  
  .footer {
    background-color: rgb(78, 163, 78);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
  }

  .footer-left {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }
  .footer-left img{
    margin-top: -45px;
  }

  .fContact{
    font-family: 'FbSpoiler-Bold';
  }

  .large-vertical-line {
    width: 2px; /* Adjust the width of the line */
    height: 60px; /* Adjust the height of the line */
    background-color: white; /* Set the color of the line */
    margin: 0px 10px;
  }
  .small-vertical-line {
    width: 1px; /* Adjust the width of the line */
    height: 15px; /* Adjust the height of the line */
    background-color: white; /* Set the color of the line */
  }
  .fMid p {
    text-align: right;
    font-family: FbSpoiler-Bold;
  }
  .fRight p {
    font-family: FbSpoiler-Black;
    font-size: 1.2em;
  }

  .footer-contact__tel {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}
  .footer-contact__tel:hover {
      color: #C1D833;
  }

  .footer-contact__site {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}
.footer-contact__site:hover {
    color: #C1D833;
}

.footer-contact__soc {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.footer-contact__soc img {
  width: 30px;
  margin-left: 12px;
}
.footer-contact__soc:hover {
  color: #C1D833;
  opacity: .6;
}

  .card {
    max-width: 600px;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 20px;
    row-gap: 15px;
    margin-top: 15px;
    z-index: -6;
  }
  
  
  .card input{
      width: 100%;
      /* height: fit-content; */
  
  }
  .form-title {
    color: var(--primary-color);
    font-size: 1.6em;
    text-align: center;
    font-family: FbSpoiler-bold;
    padding-top: 6px;
  
  }
  .card input{
      border: none;
      background: transparent;
      outline: none;
      font-family: FbSpoiler-Bold;
      font-size: 20px;
  }
  input::placeholder{
      color: var(--primary-color);
  }
  .card button{
      background-color: rgb(31, 31, 83);
      color: white;
      border: none;
      font-size: 23px;
      padding: 6px 0;
      margin-top: 15px;
      font-family: FbSpoiler-Bold;
  }
  button:hover{
    cursor: pointer;
  }
  select{
      background: transparent;
      border: none;
      outline: none;
      color: var(--primary-color);
      font-size: 18px;
      font-weight: bold;
  }
  option{
    color: black;
  }
  select:hover{
    cursor: pointer;
  }
  #inputHr{
      height: 1px;
      margin-top: -10px;
  
  }

  .footer-centers{
    display: flex;
    align-items: center;
  }
 
  
  #sideIcon{
    position: absolute;
    right: -40px;
    background-color: black;
    width: 40px;
    height: 40px;
    color: white;
    padding: 5px;
    font-size: 30px;
    transition: left 0.3s ease-in-out;
  }
#crossIcon{
  font-size: 30px;
}

.sidebar{
  color: black;
  position: absolute;
  top: 20%;
  font-size: 45px;
  z-index: 3;
  background-color: rgb(249 245 245);
  /* padding: 10px 30px; */
  width:300px;

  
}
.sidebar ul li{
  list-style: none;
  padding: 5px;
  margin: 5px;
  background-color: white;
  font-size: 16px;
  display: flex;
    justify-content: flex-end;
    gap: 10px;

}
.sidebar ul li:hover{
 background-color: rgb(193, 191, 191);
 color: white;
}
.contents{
  display: flex;
  flex-direction: column;
  text-align: right;
  transition: left 0.3s ease-in-out;

}

@media only screen and ( min-width: 800px) {
  .logo-top-mobile{
    display: none;
  }

  .subtitle-mobile{
    display: none;
}

#terms-gift{
  font-family:"FbSpoiler-bold";
  text-align: center;
  font-size: 1em;
}

.gifth2-desktop{
  color: var(--primary-color);
  font-size:  7em;
  font-family: FbSpoiler-Black;
  text-align: center;
}

  .f-fb {
    display: flex;
    align-items: center;
    column-gap: 3px;
    margin-bottom: 6px;
  }
  .f-url-phone-desktop {
    display: flex;
    column-gap: 8px;
    align-items: center;
  }
  .f-phone-mobile, .f-url-mobile{
    display: none;
  }
}

  @media only screen and ( max-width: 800px){
    #mobile-logo{
      width: 70px;
      height: 70px;

    }

    .left {
      margin-bottom: 0px;
    }
    .right {
      margin-bottom: 0px;
    }
    .logo-top-mobile {
      display: flex;
      flex-direction: column;
      margin-top: 3%;
      justify-content: center;
      align-items: center;
      }
    .main-title img{
      display: flex;
    }
    .main-title h1{
      text-align: center;
      padding: 0px 10px;
      /* font-size: 40px; */
    } 
      .right p{
          display: none;
      }
      .midSection{
          flex-direction: column;
      }
      .card{
          width: 100vw;
          z-index: -11;
          margin-top: -20px;
      }
      .left-contents{
          width: 100%;
      }
      .left{
          width: 100%;    
      }

      .sub-mobile-container{
          display: flex;
          width: 100%;
          justify-content: space-around;
          align-items: center;
          z-index: 2;
          margin-top: -10%;
      }


      .subtitle-mobile{
        color: var(--primary-color);
        font-size: 1.5em;
        font-family: FbSpoiler-bold;
        margin: 2em 0;
    }

      .circle-gift{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color:var(--primary-color);
        padding: 10% 5%;
        margin: 10% 0;
        border-radius: 50%;
        border: 4px solid #00a1e3;
        transform: rotate(-10deg);
        /* margin-top: 49px; */
        z-index: 1;
        font-family: FbSpoiler-bold
      }
      
      .gifth2-mobile{
          color: white;
          font-size: 3.2em;
      }
  
        .gift-desc-desktop{
          display: none;
        }
        .gift-desc-mobile{
          color:#fedc01;
          white-space: nowrap;
          font-size: 1em;
          margin-top: -8%;
          color: #fedc01;
        }

        #terms-gift{
          font-family:"FbSpoiler-bold";
          text-align: center;
          font-size: 20%;
        }

      button{
        border-radius: 15px;
      }
      .card input{
        width: 100%;
      }

      .large-vertical-line.desktop{
        display: none;
      }

      .footer-left img{
          display: none;
      }
      .footer{
        flex-direction: column-reverse;
        row-gap: 10px;
        
      }

      .fContact{
        display: flex;
        align-items: center;
        font-size: 10px;
        gap: 0.9rem;
        justify-content: space-between;
      }
      .f-fb{
        display: flex;
        align-items: center;
        column-gap: 3px;
      }
      .f-phone-mobile{
        border-right: 1px solid white; 
        border-left: 1px solid white;
        padding: 0 1rem;

      }
      .f-url-phone-desktop{
        display: none;
      }
      .footer-centers{
        font-size: 10px;
      }
      .child-image{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
      }
      .child-image img{
        width: 130%;
        margin-left: 54px;
      }

    }
    
    .single-input-container{
      position: relative;
    }
    .header-right-align-button{
      border: solid;
      border-color: rgba(244, 15, 15, 0.652);
      padding: .5rem 0;
     
    }
    .header-right-align-button::before {
      content: " "; 
      position: absolute;
      right: 0;
      top: -1rem;
      transform: rotate(180deg);
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent white transparent;
      opacity: 0;
      pointer-events: none; 
    }
    
    .header-right-align-button::after {
      content: attr(data-tooltip);
      position: absolute;
      right: -5rem;
      top: -2.7rem;
      transform: translateX(-50%);
      padding: 5px;
      background-color: white;
      color: black;
      opacity: 0;
      transition: opacity 0.5s;
      pointer-events: none;
    }
    
    .header-right-align-button::before,
    .header-right-align-button::after {
      opacity: 1;
    }

        
        .custom-dropdown {
          position: relative;
          display: inline-block;
          color: #014282;
          font-weight: 600;
      }
      .dropdown-container{
        padding: 1rem;
          font-size: 1rem;
          cursor: pointer;
          background-color: #fff;
          display: flex;
          justify-content: space-between;
          

      }

      .dropdown-content {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          border: none;
          overflow-y: auto;
          z-index: 1;
          background-color: white;
          height: 8rem;
          z-index: 1;
          opacity: 0;
          transition: max-height 0.7s ease-in;
          transition-duration: 2s;

      }
      .dropdown-button{
        width: 90%;
      }
       .dropdown-content.show {
        display: block;
        opacity: 1; 
        transition: max-height 0.7s ease-in;
        transition-duration: 2s;
    }
    .show-icon {
      transform: rotate(180deg);
  }

     
      .dropdown-item {
          padding: 0.5rem;
          font-size: 1rem;
          white-space: nowrap;
          cursor: pointer;
      }

      .dropdown-item:hover{
        background-color: #00a1e3;
        color: white;
      }
      
      .dropdown-content.show {
          display: block;
      }

  @media only screen and (max-width: 535px){
      .main-title h1{
        font-size: 55px;
        text-align: center;
        padding: 0px 10px;
      }
      .card{
        margin-top: -40px;
      }
    }
